<!-- views/partials/sidebar.ejs -->
<div
  class="d-flex flex-column"
  style="width: 220px; min-height: 100vh; background-color: #333;"
>
  <!-- Brand on top -->
  <h4 class="p-3 text-white mb-0">ReconDefenderIQ</h4>

  <!-- Menu Items as a list group -->
  <ul class="list-group list-group-flush flex-grow-1" style="background-color: #333;">
    <li class="list-group-item p-3" style="background-color: #333; border: 1px solid #fff;">
      <a href="/dashboard" class="text-decoration-none text-white">
        Dashboard/Home
      </a>
    </li>
    <li class="list-group-item p-3" style="background-color: #333; border: 1px solid #fff;">
      <a href="/your-vulnerabilities" class="text-decoration-none text-white">
        Your Vulnerabilities
      </a>
    </li>
    <li class="list-group-item p-3" style="background-color: #333; border: 1px solid #fff;">
      <a href="/all-vulnerabilities" class="text-decoration-none text-white">
        All Vulnerabilities
      </a>
    </li>
    <li class="list-group-item p-3" style="background-color: #333; border: 1px solid #fff;">
      <a href="/products" class="text-decoration-none text-white">
        Product Management
      </a>
    </li>
    <li class="list-group-item p-3" style="background-color: #333; border: 1px solid #fff;">
      <a href="/api-management" class="text-decoration-none text-white">
        API Management
      </a>
    </li>
    <li class="list-group-item p-3" style="background-color: #333; border: 1px solid #fff;">
      <a href="/settings" class="text-decoration-none text-white">
        User Management
      </a>
    </li>
    <li class="list-group-item p-3" style="background-color: #333; border: 1px solid #fff;">
      <a href="/update-db" class="text-decoration-none text-white">
        Update DB
      </a>
    </li>
    <li class="list-group-item p-3" style="background-color: #333; border: 1px solid #fff;">
      <a href="/threat-news" class="text-decoration-none text-white">
        Threat News
      </a>
    </li>
    <li class="list-group-item p-3" style="background-color: #333; border: 1px solid #fff;">
      <a href="/logout" class="text-decoration-none text-white">
        Logout
      </a>
    </li>
  </ul>
</div>
